* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.all-wrapper {
  margin-top: 30px;
}

.cont {
  padding: 0 10%;
  display: flex;
}
.cont .img {
  background-image: url('../images/b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 300px;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  /* border-radius: 250px; */
}
.cont .text {
  text-align: center;
  margin-top: 30px;
  padding-left: 40px;
}
.cont .text .headline {
  text-align: left;
}
.cont .text p {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}
.cont .text .bbtn {
  margin-top: 30px;
  text-align: left;
  background-color: #ed1b2d;
  border-radius: 3px;
  padding: 20px;
  width: 30%;
  cursor: pointer;
}
.cont .text .bbtn:hover {
  background-color: #b81220;
}
.cont .text .bbtn a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  /* letter-spacing: 1.5px; */
}
.cont .text .bbtn a b {
}
