* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*Style for the Jumbo*/
.jumbo {
  background-image: url('../images/wes-hicks-4-EeTnaC1S4-unsplash.jpg');
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo .jumbo-content {
  position: relative;
  height: 400px;

  background: rgba(237, 27, 45, 0.6);
}
.text-area {
  color: white;
  position: absolute;
  top: 100px;
  right: 10%;
}
.text-area h2 {
  font-size: 3.5rem;
  line-height: 1.25;
}
.text-area p {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 2;
}
.jumbo-content .jumbo-btn {
  margin-top: 10px;
  padding: 0.4rem;
  background-color: #ed1b2d;
  color: white;
  width: fit-content;
  border-radius: 6px;
  transition: background-color .4s;
  cursor: pointer;
  /* transition: color 1s; */
}
.jumbo-content .jumbo-btn:hover {
  background-color: #040707;
  /* color: #040707; */
}
.jumbo-content .jumbo-btn a {
  text-align: center;
  color: inherit;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
}
.jumbo-content .jumbo-btn a:hover {
  /* color: #040707; */
}

/*Style for Why Gobeze Section*/
#why-gobeze {
  margin: 50px 0;
  text-align: center;
  /* font-size: 26px; */
  color: #040707;
}
.con {
  color: #040707;
  margin: 10px 8%;
}
.con .title {
  font-size: 2rem;
  line-height: 1.25;
}
.con .cards {
  text-align: center;
  margin: 50px 0;
  display: flex;
}
.cards .card {
  /* border: 1px solid black; */
  position: relative;
  width: 28%;
  margin-right: 6%;
  flex-grow: 1;
}
.cards .card:last-child {
  margin-right: 0;
}
.cards .card .ic {
  position: absolute;
  top: 0;
  left: 0;
}
.cards .card h3 {
  text-align: left;
  margin-top: 35px;
  font-size: 1.75rem;
  line-height: 1.5;
}

.cards .card p {
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 2;
  text-align: left;
}

/*Styles for Learners and Gobeze for Business*/
#learn-teach {
  margin-top: 30px;
}
#learn-teach .holder {
  display: flex;
  color: white;
}
#learn-teach .holder .sec-r {
  width: 50%;
  padding: 6% 6% 6% 8%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
#learn-teach .holder .sec-l {
  width: 50%;
  padding: 6% 8% 6% 6%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
#learn-teach .holder h2 {
}
#learn-teach .holder p {
  margin-top: 10px;
  font-size: 1 rem;
  line-height: 1.5;
}
#learn-teach .holder .learn {
  margin-top: 10px;
  width: 160px;
  padding: 10px;
  border: 2px solid white;
  background-color: transparent;
  transition: background-color 1s;
  cursor: pointer;
}
#learn-teach .holder .learn a {
  text-decoration: none;
  color: white;
}
#learn-teach .holder .learn:hover {
  background-color: #ed1b2d;
}
@media screen and (max-width: 1125px){
  .text-area {
    color: white;
    position: absolute;
    top: 100px;
    right: 6%;
  }
  .con {
    color: #040707;
    margin: 10px 6%;
  } 
  #learn-teach .holder .sec-r {
    width: 50%;
    padding: 6%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  #learn-teach .holder .sec-l {
    width: 50%;
    padding: 6%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; 
  }
}
@media screen and (max-width: 1020px){
  body{
    font-size: 15px;
  }
}
@media screen and (max-width: 957px){
  body{
    font-size: 14px;
  }
}

@media screen and (max-width: 892px){
  .text-area{
    color: white;
    position: relative;
    top: 25%;
    right: 0;
    text-align: center;
  }  
  .jumbo-content .jumbo-btn {
    margin: 10px auto;
    padding: 0.4rem;
    background-color: #ed1b2d;
    color: white;
    width: fit-content;
    border-radius: 6px;
    transition: background-color .4s;
    cursor: pointer;
    /* transition: color 1s; */
  }
}
@media screen and (max-width: 835px){
  .con .cards {
    text-align: center;
    margin: 50px 0;
    display: inline-block;
  }
  .cards .card {
    /* border: 1px solid black; */
    position: relative;
  }
  .cards .card .ic {
    position: absolute;
    top: -35px;
    left: 0;
  }
  .cards .card{
    width: auto;
  }
  .cards .card p {
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 2;
    text-align: left;
    padding-bottom: 25px;
  } 

}
@media screen and (max-width: 792px){
  #learn-teach .holder {
    display: block;
    color: white;
}
#learn-teach .holder .sec-r {
  width: 100%;
  padding: 6%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
#learn-teach .holder .sec-l {
  width: 100%;
  padding: 6%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
}
@media screen and (max-width: 675px ) and (min-width: 640px ){
  .text-area{
    text-align: right;
    right: 45px;
  }
  .jumbo-content .jumbo-btn {
    position: absolute;
    bottom: -60px;
    right: 0;
  }
  #learn-teach .holder {
    display: block;
  }
  #learn-teach .holder .sec-r {
    height: 200px;
    width: 100%;
  padding: 6%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  }
  #learn-teach .holder .sec-l {
    height: 200px;
    width: 100%;
  padding: 6%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  }
}
@media screen and (max-width: 634px ) and (min-width: 411px ){
  .hide-sm{
    display: none;
  }
  .text-area{
    text-align: center;
    right: 0;
    top: 40%;
  }
  .jumbo .jumbo-content {
     height: 300px;
  }
  .jumbo-content .jumbo-btn {
    position: none;
    right: 0;
  }
  .text-area h2 {
    font-size: 2.5rem;
    line-height: 1;
}
  .text-area p{
    padding: 10px;
  }
  .con .title {
    font-size: 1.5rem;
    line-height: 1;
  }
  
}
@media screen and (max-width: 556px){
  .text-area{
    top: 25%;
  }
}
@media screen and (max-width: 411px){
  .hide-sm{
    display: none;
  }
  .text-area{
    top: 30%;
  }
  .text-area h2 {
    font-size: 2.5rem;
    line-height: 1;
}
  .text-area p{
    padding: 10px;
    
  }
  .con .title{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 360px){
  .text-area{
    color: white;
    position: relative;
    top: 30%;
    right: 0;
    text-align: center;
  }
  .text-area h2 {
    font-size: 2.5rem;
    line-height: 1;
}
  .text-area p{
    padding: 10px;
  }
  .hide-sm{
    display: none;
}
.con .title{
  font-size: 1.5rem;
}
#learn-teach .holder .sec-r {
  height: 220px;
}
#learn-teach .holder .sec-l {
  height: 220px;
}
#learn-teach .holder h2 {
  margin-top: 25px;
}
}